@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'ABeeZee', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 400;
}

.min-color{
  background-color:rgba(233,236,242,1)
}
.secondary-color{
  background-color: rgba(148,20,255,1)
}

.min-text-color{
  color: rgba(26, 26, 30, 1);

}

.secondary-text-color{
  color:  rgba(98, 98, 107, 1);

}